layout {
    default_tab_template {
        children
    }
    tab split_direction="Horizontal" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="Horizontal" {
            pane focus=true name="sing-box" {
              command "just"
              args "play"
              cwd "$SING_BOX"
            }
            pane command="ipinfo-rs" name="ipinfo"
        }
        pane size=5
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
